{{#collection tag="div" class="thumbnail"}}
    <a href="{{photoUrl}}"><img class="lazy" data-original="{{thumbUrl}}" width="80" height="80"></a>
{{else}}
    <h3>No photos uploaded yet</h3>
{{/collection}}
