@import '../../bower_components/photoswipe/release/3.0.3/photoswipe.css';
$headerClr: rgba(7, 114, 105, .9);
$headerHeight: 80px;
$bgColor: '#1a1a1a';

body {
}

#header {
    background-color: $headerClr;
    height: $headerHeight;

    img.logo {
        height: $headerHeight - 5;
    }

    p {
        display: inline-block;
        float: right;
        margin: 10px;
        font-size: 25px;
        color: #ECEBEB;
    }
}

#rootView {
    height: 100%;
    width: 100%;
    background-color: $bgColor;
}
